<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/EserciziPandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. importare pandas

In [2]:
import pandas as pd

2. leggere un file csv

In [3]:
#leggo un file csv cos√¨ da poterci lavorare sopra
video = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv")

3. visualizzare le prime 7 righe

In [4]:
video.head(7)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008

4. visualizzare le colonne film e genere

In [5]:
#primo metodo
video.iloc[:, 0:2]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

In [8]:
#secondo metodo
video[["Film", "Genre"]]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

5. visualizzare le ultime 5 righe

In [9]:
video.tail()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

6. visualizzare la somma dei Audience Score %

In [11]:
video["Audience score %"].sum()

4907

7. visualizzare la media dei Rottem Tomatoes %

In [17]:
video["Rotten Tomatoes %"].mean()

46.701298701298704

7. visualizzare i nomi dei film che sono prodotti dalla universal

In [18]:
video[video["Lead Studio"] == "Universal"][["Film"]]

                Film
45        Mamma Mia!
46        Mamma Mia!
48      Love Happens
53         Leap Year
54        Knocked Up
57         Jane Eyre
58  It's Complicated
73     A Serious Man

8. visualizzare i film e la casa produttrice che hanno un Rotten Tomatoes % superiore alla media

In [19]:
video[video["Rotten Tomatoes %"] > video["Rotten Tomatoes %"].mean()][["Film", "Lead Studio"]]

                                   Film            Lead Studio
0            Zack and Miri Make a Porno  The Weinstein Company
1                       Youth in Revolt  The Weinstein Company
5                   Water For Elephants       20th Century Fox
6                                WALL-E                 Disney
7                              Waitress            Independent
12                             Twilight                 Summit
17               The Invention of Lying           Warner Bros.
19                          The Duchess              Paramount
20  The Curious Case of Benjamin Button           Warner Bros.
22                              Tangled                 Disney
24               She's Out of My League              Paramount
27                     Sex and the City           Warner Bros.
29               Rachel Getting Married            Independent
30                             Penelope                 Summit
37   Nick and Norah's Infinite Playlist                   Sony
39                 My Week with Marilyn  The Weinstein Company
40                     Music and Lyrics           Warner Bros.
42       Miss Pettigrew Lives for a Day            Independent
43                    Midnight in Paris                   Sony
44                        Marley and Me                    Fox
45                           Mamma Mia!              Universal
46                           Mamma Mia!              Universal
49                   Love & Other Drugs                    Fox
54                           Knocked Up              Universal
57                            Jane Eyre              Universal
58                     It's Complicated              Universal
59            I Love You Phillip Morris            Independent
60   High School Musical 3: Senior Year                 Disney
63                   Going the Distance           Warner Bros.
64                    Gnomeo and Juliet                 Disney
65                    Gnomeo and Juliet                 Disney
69                            Enchanted                 Disney
71                            Beginners            Independent
72                  Across the Universe            Independent
73                        A Serious Man              Universal
74                   A Dangerous Method            Independent
76                 (500) Days of Summer                    Fox

9. visualizzare il film con l'audience score maggiore

In [20]:
video[video["Audience score %"] == video["Audience score %"].max()][["Film"]]

                  Film
6               WALL-E
74  A Dangerous Method

10. visualizzare i film nelle righe 30, 35, 39

In [21]:
video[(video.index == 30) | (video.index == 35) | (video.index == 39)][["Film"]]

                    Film
30              Penelope
35     Not Easily Broken
39  My Week with Marilyn

11. visualizzare il minimo della colonna gross

In [22]:
video["Worldwide Gross"].min()

'$0.03 '

12. aumentare del 50% la colonna dell' audience score

In [23]:
video["Audience score %"] = video["Audience score %"] + (video["Audience score %"] / 100*50)
video.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,105.0,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,78.0,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,52.5,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,66.0,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,108.0,6.267647,28,$219.37,2008